.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Général */

body {
  margin: 0;
}

.error {
  color: red;
}

/* NAVBAR */
.navbar {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  /* margin-right: 15px; */
  margin: 1em;
}

.navbar a:last-child {
  margin-right: 0;
}

/* Styles spécifiques pour les liens de droite (connexion et inscription) */
.navbar .right-links {
  margin-left: auto;
  margin-right: 1em;
  display: flex;
  align-items: baseline;
}

.container {
  display: flex;
}

/* PRODUCTS */

/* Styles pour les cartes de produits */
.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* Largeur fixe pour chaque carte, ajustez selon vos besoins */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin: 1.5em;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  height: 260px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Ajuste l'image pour remplir la hauteur fixe tout en conservant son ratio */
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin: 0;
}

.product-card p {
  margin: 10px 0;
}

.product-card button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.product-card button:hover {
  background-color: #0056b3;
}

/* Styles spécifiques pour la quantité */
.product-card .quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.product-card .quantity-controls button {
  margin: 0 5px;
}

.title_card {
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}

.increment-buttons>span {
  margin: 0.5em;
}

/* SINGLE PRODUCT */

/* Styles pour la page d'affichage d'un produit unique */
.single-product {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2em;
  margin-bottom: 2em;
}

.single-product h1 {
  font-size: 24px;
  margin: 0;
}

.single-product p {
  margin: 10px 0;
}

.single-product .description {
  font-style: italic;
  color: #666;
}

.single-product .price {
  font-weight: bold;
  color: #007bff;
}

.single-product .stock {
  font-weight: bold;
  color: #28a745; /* Vert pour le stock disponible */
}

.single-product .out-of-stock {
  font-weight: bold;
  color: #dc3545; /* Rouge pour le stock épuisé */
}

/* Style pour un bouton d'ajout au panier (personnalisez selon vos besoins) */
.single-product .add-to-cart-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.single-product .add-to-cart-button:hover {
  background-color: #0056b3;
}

.single-product img {
  object-fit: cover;
  max-width: 100%;
}

.info-single-product {
  display: flex;
  justify-content: space-around;
}

/* FORMS */

/* Style pour le formulaire */
form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour les étiquettes de champ */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style pour les champs de formulaire */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style pour le bouton de soumission */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* TABLEAU panier, historique etc */

/* Style de base pour le tableau */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #343a40; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte clair */
}

/* Style pour les en-têtes de colonne */
.table th {
  background-color: #212529; /* Couleur de fond plus foncée pour les en-têtes */
  color: #fff; /* Couleur du texte clair */
  padding: 8px 12px;
  text-align: left;
  border-bottom: 2px solid #343a40; /* Bordure inférieure plus sombre */
}

/* Style pour les lignes impaires (facultatif) */
.table tbody tr:nth-child(odd) {
  background-color: #454d55; /* Couleur de fond légèrement plus foncée pour les lignes impaires */
}

/* Style pour les cellules de données */
.table td {
  padding: 8px 12px;
  border-bottom: 1px solid #343a40; /* Bordure inférieure plus claire */
  text-align: left;
}

/* Style pour les cellules de données des lignes impaires (facultatif) */
.table tbody tr:nth-child(odd) td {
  border-bottom-color: #454d55; /* Bordure inférieure plus foncée pour les lignes impaires */
}

/* Style pour la marge autour des tableaux */
.table-container {
  margin: 20px; /* Vous pouvez ajuster la valeur en pixels selon vos préférences */
}

/* SINGLE PRODUCT */
.quantity-selector {
  margin-bottom: 1em;
}

.quantity-selector>span {
  margin: 1em;
}

.form-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}



